/* line 5, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/index.scss */
h1 {
  font-size: 2rem;
}

/* line 7, ../sass/index.scss */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* line 11, ../sass/index.scss */
body main {
  flex: 1 0 auto;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
}
/* line 17, ../sass/index.scss */
body h1 {
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 4.5rem;
  color: #b8d3da;
  text-shadow: 2px 2px #444;
}

/* line 27, ../sass/index.scss */
#content {
  text-align: center;
  flex: 1 0;
  display: flex;
  box-sizing: border-box;
  min-height: 300px;
  width: 100%;
  padding: 1rem;
}
/* line 35, ../sass/index.scss */
#content #graph {
  margin: auto;
  position: relative;
  display: inline-block;
}
/* line 39, ../sass/index.scss */
#content #graph::before {
  content: 'Chlorine Level (ppm)';
  transform: rotate(-90deg);
  transform-origin: bottom right;
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.5rem;
  line-height: 1.5;
  right: 100%;
  width: 400px;
  bottom: 100%;
  position: absolute;
  background-color: teal;
  color: #fcf9f8;
}
/* line 55, ../sass/index.scss */
#content #graph svg {
  background-color: rgba(252, 249, 248, 0.6);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 59, ../sass/index.scss */
#content #graph svg path#line {
  fill: none;
  stroke: teal;
  stroke-width: 2px;
}
/* line 64, ../sass/index.scss */
#content #graph svg g.axis {
  font-size: 1rem;
}

/* line 73, ../sass/index.scss */
#background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/pool.jpg");
  background-position: 20% 0;
  background-size: cover;
  z-index: -1;
}
